body {
    background-color: #556fff; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/* Estilo para la barra de tareas */
.taskbar {
    background-color: #333; 
    height: 50px; 
    display: flex; 
    align-items: center; 
    padding: 0 10px; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000; 
}

/* Estilo para el botón de búsqueda */
.taskbar button {
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    padding: 5px; 
    display: none; 
}

/* Estilo para el input de búsqueda */
.taskbar input[type="text"] {
    width: 10%; 
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px; 
}

/* Estilo para la ventana de PowerShell */
.powershell-window {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 400px;
    background-color: #1e1e1e; 
    color: white; 
    border: 1px solid #0078d7; 
    padding: 10px; 
    display: none; 
    z-index: 1001;
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

/* Estilo para el encabezado de la ventana */
.powershell-window h2 {
    margin: 0;
    font-size: 14px; 
    background-color: #0078d7; 
    color: white; 
    padding: 5px;
    border-radius: 5px 5px 0 0;
    display: flex; 
    justify-content: space-between; 
    cursor: move; 
}

/* Estilo para el textarea de PowerShell */
.powershell-window textarea {
    width: 100%; 
    height: 300px; 
    background-color: #1e1e1e; 
    color: white; 
    border: none; 
    resize: none; 
    font-family: 'Courier New', Courier, monospace; 
    padding: 10px; 
    outline: none; 
}

/* Estilo para el prompt de PowerShell */
.powershell-prompt {
    outline: none; 
}

/* Estilo para el botón de cerrar */
.close-button {
    background-color: red; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px 5px; 
    margin-left: 10px; 
}

/* Estilo para el icono de escritorio */
.desktop-icon {
    width: 64px;
    height: 64px;
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    background: none; 
    border: none; 
    padding: 0; 
}

/* Estilo de imágenes dentro de iconos */
.icon {
    width: 100%; 
    height: auto;
}